.dummy__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.dummy__card{
    width: 360px;
    height: 272px;

    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.card__title{
    margin: 0 30px 0 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    color: #00194A;
}

.icon__card{
    margin: 36px 0 26px 30px;
}

.card__subtitle{
    max-width: 300px;
    margin: 15px 30px 20px 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

.download__refs{
    max-width: 300px;
    height: 20px;
    margin: 0 30px 20px 30px;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    text-decoration-line: underline;

    color: #00194A;
}

@media screen and (max-width: 600px) {
    .card__subtitle{
        margin: 15px 30px 20px 30px;

        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
    .download__refs{
        text-align: center;
    }
}
