.chats_wrapper{
    display: flex;
    justify-content: space-between;
    width: 1157px;
    margin: 0 0 100px 36px;
}

.chat__content{
    width: 676px;
}

.chats__title{
    margin: 162px 0 0 0;
    width: 466px;
    height: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.chats__subtitle{
    margin: 30px 0 0 0;
    width: 466px;
    height: 196px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    opacity: 0.8;
}

