.communication__wrapper {
    display: flex;
    margin: 0 0 100px 150px;
}

.communication__title {
    max-width: 466px;
    height: 100px;
    margin: 115px 0 0 0;

    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.communication__subtitle {
    width: 466px;
    height: 168px;
    margin: 30px 0 0 0;

    opacity: 0.8;
}

.communication__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 30px;
    column-gap: 30px;
    max-width: 560px;
    height: 528px;
}

.communication__item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;

    width: 260px;
    height: 249px;


    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}


.communication__item:nth-child(2) {
    position: relative;
    top: 25%;
}

.communication__block{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.communication__headline{
    font-size: 14px;
    line-height: 23px;

    opacity: 0.8;
}


.communication__icon{
    width: 60px;
}

.communication__intro{
    width: 58%;
    min-width: 466px;
}

@media screen and (max-width: 1200px){
    .communication__wrapper {
        margin: 0 0 100px 35px;
    }
}

@media screen and (max-width: 1080px){
    .communication__wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }

    .communication__title{
        margin-top: 0;
    }
}

@media screen and (max-width: 800px){
    .communication__wrapper{
        margin-left: 0;
    }
}
