.dummy__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.dummy__card{
    width: 360px;
    height: 272px;

    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

.dummy__title{
    margin: 0 30px 0 30px;

    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.dummy__icon{
    margin: 36px 0 26px 30px;
}

.dummy__subtitle{
    max-width: 300px;
    margin: 15px 30px 20px 30px;

    font-size: 16px;
    line-height: 26px;

    opacity: 0.8;
}

.dummy_ref{
    max-width: 300px;
    height: 20px;
    margin: 0 30px 20px 30px;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;


    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    text-decoration-line: underline;
    color: #00194A;
}

@media screen and (max-width: 600px) {
    .dummy__subtitle{
        margin: 15px 30px 20px 30px;

        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
    .dummy_ref{
        text-align: center;
    }
}
