.group-chats__wrapper{
    display: flex;
    justify-content: space-between;
    width: 1058px;
    height: 699px;
    margin: 0 0 100px -15px;
}

.group-chats__title{
    width: 466px;
    height: 100px;

    margin: 204px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;

    color: #00194A;
}

.group-chats__subtitle{
    width: 466px;
    height: 112px;

    margin: 30px 0 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #00194A;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.group-chats__content{
    position: relative;
}

.group-chats__cycle{
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}

.group-chats__cycle1{
    width: 400px;
    height: 400px;
    top: 299px;
    left: 128px;

    background: #FFF8F9;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.03);
}

.group_chats_cycle2{
    width: 290px;
    height: 290px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
}

.group_chats_cycle3{
    width: 140px;
    height: 140px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    background: #FFF8F9;
}

.group-chat__intro{
    position: absolute;
    z-index: 1;
    margin: 75px 0 0 0;
}

.dots_chat {
    margin: 0 0 0 211px;
}

.group-chat__icons{
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.group_chat_icon{
    top: 50%;
    left: 50%;
}

.group_chat_icon1{
    left: 50%;
}

.group_chat_icon2{
    top: 90%;
    left: 20%;
}

.group_chat_icon3{
    top: 40%;
    left: 16%;
}


.group_chat_icon4{
    top: 32%;
    left: 95%;
}

.group_chat_icon5{
    top: 79%;
    left: 77%;
}

.group_chat_icon6{
    top: 32%;
    left: 57%;
}

@media screen and (max-width: 1024px) {
    .dots_chat {
        margin: 0 0 0 180px;
    }
    .group-chats__wrapper{
        width: 1000px;
    }

}

@media screen and (max-width: 800px) {
    .group-chats__wrapper{
        max-width: 100%;
    }
    .dots_chat {
        margin: 0 0 0 180px;
    }
    .group-chats__cycle1{
        width: 300px;
        height: 300px;
        top: 250px;
        left: 120px;
    }
    .group-chat__intro{
        width: 300px;
    }
    .group-chats__title{
        width: 320px;
        font-size: 30px;
        line-height: 45px;
    }
    .group-chats__subtitle{
        width: 320px;
        font-size: 16px;
        line-height: 24px;
    }
    .dots_chat {
        margin: 0 0 0 110px;
    }
}
