.group-chats__wrapper{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    margin: 0 0 100px 135px;
}

.group-chats__title{
    width: 466px;
    height: 100px;

    margin: 204px 0 0 0;

    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.group-chats__subtitle{
    width: 466px;
    height: 112px;
    margin: 30px 0 0 0;

    opacity: 0.8;
}

.group-chats__content{
    position: relative;
    width: 47%;
    min-width: 520px;
    min-height: 699px;
}

.group-chats__cycle{
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}

.group-chats__cycle1{
    width: 400px;
    height: 400px;
    top: 299px;
    left: 20%;

    background: #FFF8F9;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.03);
}

.group-chats__cycle2{
    width: 290px;
    height: 290px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FFFFFF;
}

.group-chats__cycle3{
    width: 140px;
    height: 140px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    background: #FFF8F9;
}

.group-chat__intro{
    position: absolute;
    z-index: 1;
    margin: 75px 0 0 0;
}

.dots__chat {
    width: 299px;
    height: 299px;
    margin: 0 0 0 211px;
}

.group-chat__icons{
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.group_chat_icon{
    top: 50%;
    left: 50%;
}

.group-chat__icon1{
    left: 50%;
}

.group-chat__icon2{
    top: 90%;
    left: 20%;
}

.group-chat__icon3{
    top: 40%;
    left: 16%;
}


.group-chat__icon4{
    top: 32%;
    left: 95%;
}

.group-chat__icon5{
    top: 79%;
    left: 77%;
}

.group-chat__icon6{
    top: 32%;
    left: 57%;
}


@media screen and (max-width: 1140px) {
    .group-chats__wrapper{
        margin: 0 0 100px 35px;
    }
}

@media screen and (max-width: 1050px) {
    .group-chats__title{
        margin: 0;
    }
    .group-chats__wrapper{
        flex-direction: column;
        align-items: center;
        margin:  0 0 100px 0;
    }
}