@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html {
    box-sizing: border-box;
    opacity: 0;
    animation: ani 2s forwards;
}

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #00194A;

    mix-blend-mode: normal;
}

button {
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: white;
    background: #FF0043;
    cursor: pointer;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.footer {
    margin: 0 150px 80px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

}

.footer__list {
    display: flex;
}

.footer__link {
    text-decoration: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #00194A;
    text-align: right;

}

.footer__item {
    margin-right: 40px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__logo {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}


@media screen and (max-width: 912px) {
    .footer{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 120px 80px 120px;
    }
}


@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}




